# Stock Market Analysis and Telegram Bot Requirements

# LLM API
google-genai

# Data Analysis and Machine Learning
yfinance
numpy
pandas
scikit-learn
xgboost

# Technical Analysis
ta

# Deep Learning
tensorflow
tf-keras
keras



# Telegram Bot
python-telegram-bot

# Utilities
requests
psutil